html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.contact-us{
   background-color: black;
   opacity: 1;
   align-items: center;
   text-align: center;
   color:white;
   font-family: 'Lucida Handwriting', cursive;
}

.box-animate{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation-name: pippo;
  animation-duration: 1s ;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.scroll_area{
  background-color:rgb(0, 0, 0, 0.7);
  font-family:'lucidaHandwriting',cursive;
  position: relative;
  top: 22vw;
  justify-content: center;
  align-items: center;
  display: flex;
  Z-index: 99 
}
@keyframes pippo {
  0% {top: 45%}
  100% {top: 55%}
}


.reviewBox{
  font-family:'Lucida Sans Unicode',cursive;
  border: 2px;
  margin:3%;
  border-color: black;
  border-style: dashed;
}

.profileImg{
  height:40px;
  width:auto;
  margin:2%;
  border:2px solid;
  border-color: black;
  border-radius: 1.5%;
}

.ratingImg{
  height:35px;
  width:auto;
  margin:0%;
}
.searchPlace{
  display:flex;
  align-items:center
}
.row{
  padding:0%;
}

.sheetPictureBox{
    display: flex;
    height:11rem;
    width:200px;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    border-style: solid;
    align-items: center;
    justify-content: center;
}

.sheetBox{

    max-width: 95%;
    background-color: white;
    opacity:0.9;
    background-image: url("https://us.123rf.com/450wm/summertimeau/summertimeau1703/summertimeau170300340/74022783-piano-keys-on-a-white-background.jpg?ver=6");
    background-repeat: repeat-x;
    border-radius: 5%;
    box-shadow: 2rem;
    border-color: rgba(0, 0, 0, 0.832);
    border-width: 5px;
    border-style: solid;
    padding-right:0.1rem;
    padding-left:0.1rem;
    padding-top:2rem;
    padding-bottom:2rem;
    min-height: 20rem;
}

.background{
    background-image: url("https://data.whicdn.com/images/75979601/original.gif");
    background-size: cover;
    height: 120vh;
    font-size:50px;
    background-position: center;
    background-repeat:no-repeat; 
}

.emailLink{
  height:60px;
  width:auto;
}

.phoneLink{
  height:60px;
  width:auto;
}

.bgText{
  color: white;
  background-color: black;
  border-color: white;
  border:double;
  border-radius: 10px 30px 30px 5px;
  font-size:larger;
  position:relative;
  text-align: center;
  font-family:'Brush Script MT', cursive;
  top:10vw;
}


  @media screen and (min-width: 768px) {
    desc_text{
      font-size: 100px;
    }
  }
  
  @media screen and (max-width: 600px) {
    desc_text{
      font-size: 25px;
    }
  }

.pagination{
  margin-top:2rem;
  display:flex;
  justify-content: center;
}




/*sheet details*/

* {
  box-sizing: border-box;
}

.sheetDetails{
  display:flex;
  flex-direction: row;
  font-size: 30px;
  text-align: left;
  width:100%;
  height:100%

}

.detailsContainer{
  background-color: rgb(252, 252, 252);
  border: 3px solid rgb(0, 0, 0);
  margin:0.5rem;
  flex:25%;
  padding: 1%;
  border-radius:20px;
}

.pianoSheetContainer{
  margin:0.5rem;
  background-color: rgb(252, 252, 252);
  border: 3px solid rgb(0, 0, 0);
  flex:45%;
  padding: 2%;
  border-radius:20px;
}

.space{
  border: 1px solid white;
  height: 1em;
}

.pianoPlay{
  height:12vw;
  width:auto;

}

.logo{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding:1%;
}
.logoPicture{
  height:5vw;
  width:auto;
  display:flex;
  flex: 50%;
}

.pageButton{
  margin:1%;
}

.result.bar{
  font-size:0.5vw;
}

@media (max-width: 800px) {
  .logo {
    flex-direction: column;
  }
}
.logoWord{
  flex: 50%;
  font-family:'Brush Script MT', cursive;
}

.animaeRelatedContainer{
  margin:0.5rem;
  flex:30%;
  margin:0.5rem;
  padding: 2%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(252, 252, 252);
  border-radius:20px;
}


@media (max-width: 800px) {
  .sheetDetails{
    flex-direction: column;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.topNav{
  margin:0%;

}

.anya{
  width: 20px;
  height:auto;
  position: absolute;
  right: 20%;
  bottom:0%;
}

.dollar {
  content: "\0024";
}

.btn btn-lg btn-dark  btn-block{
font-weight: bold;
font-size: larger;
}

#review{
  border: 2em;
  border-color: black;

}

.search_background{
  opacity:0.9;
}